PythonAPP\__pycache__
C:\projects\PythonAPP\App\share
C:\projects\PythonAPP\App\__pycache__
C:\projects\PythonAPP\App\Scripts
C:\projects\PythonAPP\App\Lib
C:\pyvenv.cfg
C:\projects\PythonAPP\App\gui\__pycache__